# Ignore Composer dependencies
/vendor/

# Ignore Composer autoloader
/composer.lock

# Ignore environment-specific files
/.env

# Ignore cache and log files
/var/
/logs/

# Ignore IDE-specific files
/.idea/
/.vscode/

# Ignore temporary files
*.tmp
*.log
*.swp

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore build artifacts
/build/
/dist/
